@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: var(--brand-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(250, 140, 22, 0.2);
  }
}
